<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "true"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        printerFile                 = "vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
        printerClass                = "NyanCat\PHPUnit\ResultPrinter"
        bootstrap                   = "test/init.php">
    <testsuites>
        <testsuite name="Api">
            <directory>module/*/test/*</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="logs/App.xml" logIncompleteSkipped="false" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" >
            <directory suffix=".php">module/*/src/*</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor/*</directory>
        </blacklist>
    </filter>
</phpunit>

